@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* initial */
:root {
  --main-white-color: #F5F5F5;
  --text-color: #333333;
  --text-color-hover: rgba(51, 51, 51,.7);
  --bg-gray: #A5A5A5;
  --decoration-color: rgba(196, 196, 196, 0.3);
  --decoration-text: rgba(0, 0, 0, 0.03);
  --footer-mask: rgba(0, 0, 0, .8);
  --items-mask: rgba(0, 0, 0, .8);
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
html, body {
  background-color: var(--main-white-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--text-color)
}
li {
  list-style-type: none;
}

/* font-size */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.75;
}
h1 {
  font-size: 2.4rem;  /* 48px */
}
h2 {
  font-size: 1.8rem;  /* 36px */
}
h3 {
  font-size: 1.6rem;  /* 32px */
}
h4 {
  font-size: 1.4rem;  /* 28px */
}
h5 {
  font-size: 1.2rem;  /* 24px */
}
h6 {
  font-size: 1rem;  /* 20px */
}

/* layout */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-full {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}
.tagged.rightIn {
  opacity: 0;
  transform: translateX(50px);
}
.tagged.leftIn {
  opacity: 0;
  transform: translateX(-50px);
}
.tagged.downIn {
  opacity: 0;
  transform: translateY(-50px);
}
.tagged.showIn {
  opacity: 0;
}
.tagged.scrolled.rightIn, .tagged.scrolled.leftIn {
  opacity: 1;
  transform: translateX(0px);
  transition: all .5s ease;
  transition-property: transform, opacity;
}
.tagged.scrolled.showIn {
  opacity: 1;
  transition: all .5s ease;
  transition-property: opacity;
}
.inner {
  width: 1200px;
}
.icons a {
  margin-left: 40px;
}
.icons a:first-child {
  margin-left: 0;
}

/* navigation */
nav {
  height: 100px;
  background-color: var(--main-white-color);
  z-index: 15;
}
nav#navigation {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}
nav#navigation.show {
  opacity: 1;
  transition: opacity .3s .2s;
}
nav .inner, nav ul, nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
nav ul li {
  margin: 0 32.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  opacity: 0.7;
  background-color: var(--text-color);
  position: absolute;
  bottom: -2px;
  transition: width .3s;
}
nav ul li:hover::before {
  width: 80%;
}
nav ul li h6 {
  font-weight: bold;
}
nav .icons a img {
  height: 20px;
}
nav ul li h6, nav .icons a img {
  opacity: 1;
  transition: opacity .3s;
}
nav ul li:hover h6 {
  opacity: .9;
}
nav .icons a img:hover {
  opacity: 0.5;
}

/* footer */
footer {
  height: 500px;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center 58%;
  color: var(--main-white-color);
  text-align: center;
}
footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--footer-mask);
  position: absolute;
  top: 0;
  right: 0;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .inner > div {
  margin-bottom: 45px;
}
footer .inner > div > *:first-child {
  margin-bottom: 16px;
}
footer h5, footer h6 {
  font-weight: 300;
}
footer .icons a {
  transition: .3s;
}
footer .icons a:hover {
  opacity: .5;
}
footer .copyright {
  font-weight: 200;
}