/* banner */
#banner {
  flex-direction: column;
}
#banner .main {
  height: calc(100vh - 100px);
  min-height: 600px;
}
#banner .main .inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#banner .imgBox {
  padding-left: 35px;
  width: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
  opacity: 0;
  animation: showIn 0.5s 0s forwards;
}
#banner .imgBox .imgs {
  width: 46vh;
  overflow: hidden;
}
#banner .imgBox::before {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  top: -30px;
  width: 46vh;
  height: 60vh;
  border: 5px solid var(--bg-gray);
}
#banner .imgBox .wrapper {
  width: 300%;
  display: flex;
  transition: margin-left .5s;
  cursor: pointer;
}
#banner .imgBox .wrapper.img1 {
  margin-left: 0%;
}
#banner .imgBox .wrapper.img2 {
  margin-left: -100%;
}
#banner .imgBox .wrapper.img3 {
  margin-left: -200%;
}
#banner .imgBox .imgs .img {
  width: 46vh;
  height: 60vh;
  background-image: var(--background);
  background-size: cover;
  background-position: center;
}
#banner .imgBox .btns {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
#banner .imgBox .btns .btn {
  width: 40px;
  height: 8px;
  margin-left: 50px;
  background-color: var(--bg-gray);
  cursor: pointer;
  transition: background-color .5s;
}
#banner .imgBox .btns .btn:hover {
  background-color: var(--text-color-hover);
}
#banner .imgBox .btns .btn.show {
  background-color: var(--text-color);
}
#banner .imgBox .btns .btn:first-child {
  margin-left: 0;
}
#banner .textBox {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
  animation: showIn .5s .3s forwards;
}
#banner .textBox::before {
  content: "";
  display: block;
  width: 130px;
  height: 120px;
  background-image: url(../images/icons/dots.svg);
  position: absolute;
  left: -30px;
  top: -20px;
}
#banner .textBox h1, #banner .textBox > h6 {
  font-weight: 400;
  margin-bottom: 40px;
}
#banner .textBox .btn {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  cursor: pointer;
  overflow: hidden;
  transition: background-color .7s;
}
#banner .textBox .btn:hover {
  background-color: var(--text-color);
}
#banner .textBox .btn h6 {
  font-size: 1.1rem;
  margin-right: 30px;
  font-weight: bold;
  transition: color .5s;
  padding-bottom: -2px;
}
#banner .textBox .btn:hover h6 {
  color: var(--main-white-color);
}
#banner .textBox .btn img#arrow-white {
  display: none;
  left: 0px;
}
#banner .textBox .btn:hover img#arrow-white {
  display: block;
  animation: arrow_translate .5s ease forwards;
}
#banner .textBox .btn:hover img#arrow-black {
  display: none;
}
@keyframes arrow_translate {
  0% {
    left: 0px;
  }
  100% {
    left: 10px;
  }
}

/* #advantage */
#advantage {
  flex-direction: column;
  align-items: center;
}
#advantage .inner:first-child {
  margin-bottom: 10vh;
}
#advantage .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#advantage .imgBox .img {
  margin: 0 35px;
  width: 60vh;
  height: 35vh;
  background-image: var(--background);
  background-size: cover;
  background-position: var(--left) var(--top);
}
#advantage .imgBox::before {
  content: "";
  display: block;
  width: 60vh;
  height: 34vh;
  position: absolute;
  top: -25px;
  border: 5px solid var(--bg-gray);
}
#advantage .imgBox.left::before {
  left: 0;
}
#advantage .imgBox.right::before {
  right: 0;
}
#advantage .textBox h3 {
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 0.07rem;
}
#advantage .textBox {
  width: 35vh;
  margin: 0 auto;
}

/* top sales */
#topSales {
  overflow: hidden;
}
#topSales::before {
  content: "Top Sales";
  display: block;
  width: 100vw;
  color: var(--decoration-text);
  font-size: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-11deg);
}
#topSales .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#topSales .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
#topSales .title .btn {
  position: absolute;
  right: 40px;
  display: flex;
  cursor: pointer;
}
#topSales .title .btn:hover {
  opacity: 0.8;
}
#topSales .title .btn h6 {
  margin-right: 15px;
}
#topSales .title .btn img {
  transform: translateX(0px);
  transition: transform .5s;
}
#topSales .title .btn:hover img {
  transform: translateX(10px);
}
#topSales .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#topSales .items .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 7vh;
  transition: all .5s ease;
  transition-property: background-color, transform;
}
#topSales .items .box:hover {
  background-color: rgba(255, 255, 255, .9);
  transform: translateY(-5px);
}
#topSales .items .box .img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-image: var(--background);
  background-position: 0 var(--top);
  background-size: cover;
  margin-bottom: 7vh;
  transition: transform .5s;
}
#topSales .items .box:hover .img {
  transform: translateY(-10px);
}
#topSales .items .box h6 {
  letter-spacing: 0.05rem;
  width: 28vh;
  text-align: center;
  margin-top: 3vh;
}

/* more cake */
#moreCake {
  height: 120vh;
  margin-bottom: 20vh;
}
#moreCake .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#moreCake .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
#moreCake .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#moreCake .items .box {
  width: 280px;
  height: 280px;
  margin-bottom: 15px;
  background-image: var(--background);
  background-position: var(--left) var(--top);
  background-size: var(--size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}
#moreCake .items .box:hover {
  background-size: 130%;
}
#moreCake .items .box::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
#moreCake .items .box:hover::before {
  background-color: var(--items-mask);
  transition: background-color .3s .1s;
}
#moreCake .items .box h4 {
  margin-bottom: 20px
}
#moreCake .items .box h4, #moreCake .items .box h6 {
  opacity: 0;
}
#moreCake .items .box h4, #moreCake .items .box h6 {
  color: var(--main-white-color);
}
#moreCake .items .box:hover h4, #moreCake .items .box:hover h6 {
  opacity: 1;
  transition: opacity .3s .3s;
}
#moreCake .items .box.last {
  flex-direction: row;
}
#moreCake .items .box.last h5 {
  display: block;
  color: var(--text-color);
  margin-bottom: 0;
  margin-right: 15px;
}
#moreCake .items .box.last img {
  transition-duration: .3s;
  left: 0;
}
#moreCake .items .box.last:hover img {
  left: 10px;
}
#moreCake .items .box.last::before, #moreCake .items .box.last:hover::before {
  background-color: inherit;
}

/* decoration */
#decoration {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
  animation: showIn 0.5s .5s forwards;
}
#decoration .cir {
  position: absolute;
  border-radius: 50%;
  background-color: var(--decoration-color);
  animation: decoration_scale 10s linear infinite;
}
#decoration .cir1 {
  width: 80vh;
  height: 80vh;
  top: 60vh;
  right: -20vh;
}
#decoration .cir2 {
  width: 35vh;
  height: 35vh;
  top: 130vh;
  left: -10vh;
}
#decoration .cir3 {
  width: 15vh;
  height: 15vh;
  top: 300vh;
  right: -5vh;
}
@keyframes decoration_scale {
  0%, 100% {
    transform: scale(0.93);
  }
  50% {
    transform: scale(1.07);
  }
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}