/* banner */
#banner {
  flex-direction: column;
}
#banner .main {
  height: calc(100vh - 100px);
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
#banner .main::before {
  content: "Chocoholic";
  display: block;
  width: 100vw;
  color: var(--decoration-text);
  font-size: 18vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-11deg);
  animation: showIn .5s .3s ease forwards;
}
#banner .main .inner > h2, #banner .main .inner > h6, #banner .main::before, #banner .items {
  opacity: 0;
}
#banner .main .inner > h2, #banner .main .inner > h6 {
  animation: showIn .5s .7s ease forwards;
}
#banner .items {
  animation: showIn .5s 1s ease forwards;
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* season */
#seasonLimit {
  overflow: hidden;
  margin-bottom: 10vh;
}
#seasonLimit::before {
  content: "Season Limited";
  display: flex;
  width: 150vw;
  color: var(--decoration-text);
  font-size: 15vw;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(-11deg);
}
#seasonLimit .inner > h6 {
  text-align: center;
}
#seasonLimit .inner > h2, #seasonLimit .inner > h6, #seasonLimit::before, #seasonLimit .items {
  opacity: 0;
}
#seasonLimit.scrolled::before {
  animation: showIn .5s .3s ease forwards;
}
#seasonLimit.scrolled .inner > h2 {
  animation: showIn .5s .5s ease forwards;
}
#seasonLimit.scrolled .inner > h6 {
  animation: showIn .5s .7s ease forwards;
}
#seasonLimit.scrolled .inner .items {
  animation: showIn .5s 1s ease forwards;
}

/* common attributes */
.container-full > .inner, .container-full .main .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-full .inner > h6 {
  margin-top: 15px;
  margin-bottom: 10vh;
}
.container-full .items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-full .items .box {
  width: 350px;
  height: 350px;
  margin-bottom: 15px;
  background-image: var(--background);
  background-position: var(--left) var(--top);
  background-size: var(--size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}
.container-full .items .box:hover {
  background-size: 130%;
}
.container-full .items .box::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.container-full .items .box:hover::before {
  background-color: var(--items-mask);
  transition: background-color .3s .1s;
}
.container-full .items .box h4 {
  margin-bottom: 20px
}
.container-full .items .box h4, .container-full .items .box h6 {
  opacity: 0;
}
.container-full .items .box h4, .container-full .items .box h6 {
  color: var(--main-white-color);
}
.container-full .items .box:hover h4, .container-full .items .box:hover h6 {
  opacity: 1;
  transition: opacity .3s .3s;
}

/* more cakes */
#moreCakes {
  margin-bottom: 20vh;
}
#moreCakes .items .box {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#moreCakes .items .box:hover {
  background-size: 120%;
}
#moreCakes .items .box::before {
  width: 0;
  height: 0;
}
#moreCakes .items .box:hover::before {
  background-color: none;
}

/* decoration */
#decoration {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
  animation: showIn 0.5s 1s forwards;
}
#decoration .cir {
  width: 15vh;
  height: 15vh;
  position: absolute;
  border-radius: 50%;
  background-color: var(--decoration-color);
  animation: decoration_scale 10s linear infinite;
}
#decoration .cir1 {
  top: 100vh;
  left: 40vh;
}
#decoration .cir2 {
  top: 200vh;
  right: -3vh;
}
@keyframes decoration_scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* RWD */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  #banner .items .box, #seasonLimit .items .box {
    width: 330px;
    height: 330px;
  }
  #moreCakes .items .box {
    width: 250px;
    height: 250px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  #banner .items .box, #seasonLimit .items .box {
    width: 29vw;
    height: 29vw;
    padding: 0 30px;
  }
  #banner .inner > h6, #seasonLimit .inner > h6, #moreCakes .inner > h6 {
    margin-top: 0;
    margin-bottom: 7vh;
  }
  #moreCakes .items .box {
    width: 21vw;
    height: 21vw;
    margin-bottom: 2vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 15px;
  }
  .container-full {
    min-height: 450px;
    height: auto;
  }
  #banner .items .box, #seasonLimit .items .box {
    width: 29vw;
    height: 29vw;
    padding: 0 30px;
  }
  #banner .inner > h6, #seasonLimit .inner > h6, #moreCakes .inner > h6 {
    margin-top: 0;
    margin-bottom: 7vh;
  }
  #moreCakes .items .box {
    width: 21vw;
    height: 21vw;
    margin-bottom: 2vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 15px;
  }
  #banner, #seasonLimit {
    height: auto;
    margin-bottom: 100px;
  }
  #banner .main {
    height: auto;
    padding-top: 50px;
  }
  #banner .items, #seasonLimit .items {
    flex-direction: column;
    align-items: center;
  }
  #banner .items .box, #seasonLimit .items .box {
    width: 100%;
    height: 40vw;
  }
  #banner .items .box h6, #seasonLimit .items .box h6 {
    width: 80%;
  }
  #banner .inner > h6, #seasonLimit .inner > h6, #moreCakes .inner > h6 {
    margin-top: 0;
    margin-bottom: 7vh;
  }
  #moreCakes {
    height: auto;
  }
  #moreCakes .items .box {
    width: 42vw;
    height: 42vw;
    margin-bottom: 2vw;
  }
}
@media screen and (max-width: 575.98px) {
  html {
    font-size: 15px;
  }
  #banner, #seasonLimit {
    height: auto;
    margin-bottom: 100px;
  }
  #banner .main {
    height: auto;
    padding-top: 50px;
  }
  #banner .items, #seasonLimit .items {
    flex-direction: column;
    align-items: center;
  }
  #banner .items .box, #seasonLimit .items .box {
    width: 100%;
    height: 40vw;
  }
  #banner .items .box h6, #seasonLimit .items .box h6 {
    width: 80%;
  }
  #banner .inner > h6, #seasonLimit .inner > h6, #moreCakes .inner > h6 {
    margin-top: 0;
    margin-bottom: 7vh;
  }
  #moreCakes {
    height: auto;
  }
  #moreCakes .items .box {
    width: 40vw;
    height: 40vw;
    margin-bottom: 4vw;
  }
}